
@media (max-width: 1100px) {
    section.hero_area div.img{
        width: 630px;
    }
    section.hero_area div.img img{
        width: 400px;
    }
}
@media (max-width: 950px) {
    section.portfolio div.heading,
    section.news div.heading,
    section.news div.boxes,
    section.contact div,
    section.portfolio div.img{
        width: 90%;
    }
}
@media (max-width: 856px) {
    section.hero_area div.text p{
        max-width: 250px;
    }
}
@media (max-width: 800px) {
    header nav{
        left: -105%;
        position: fixed;
        height: 100%;
        top: 70px;
        /* height: 200px; */
        background-color: #F4FAFE;
        color: white;
        transition: .5s;
        width: 100vw;
        text-align: center;
        padding-top: 30px;
        font-size: 30px;
        font-weight: 700;
    }
    header nav ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;

    }
    p.three_dot{
        font-size: 25px;
        display: block;
        right: 10px;
    }
    nav.show_now{
        left: 0;

        transition: .5s;
    }

}
@media (max-width: 768px) {
    section.hero_area div.img{
        transform: translate(30%, 0%);
    }
    section.hero_area{
        align-items: start;
        padding-top: 300px;
    }
}
@media (max-width: 550px) {
    section.hero_area{
        padding-left: 50px;
        padding-top: 500px;
        height: 400px;
    }
    section.hero_area div.img{
        height: 300px;
        margin-top: -200px;
        width: 360px;
        background-image: none;
    }
}
@media (max-width: 425px) {
    section.hero_area div.img{
        transform: scale(70%) translateX(30%);
    }
    section.hero_area{
        padding-left: 25px;
    }
}
@media (max-width: 400px) {
    section.hero_area div.text a{
        display: block;
    }

    section.hero_area{
    justify-content: center;
    }
}